* {
    margin:0;
    padding:0;
    font-family: 'Arvo';
    
  } 

  
  body{
    background-color: #f0e8e8;
  }
  
  .main{
    height:100vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  h1{
    text-align:center;
    text-transform: uppercase;
    color: #e08e0b; 
    font-size: 4rem;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #1D3557;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #68d5d9;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 2.125rem;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }

  /* CSS For Table */



  .columns {
    float: left;
    width: 31%;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* margin-left: 90px; */
}

.price {
    list-style-type: none;
    border: 2px solid #eef;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.change{
  color: #1D3557;
  font-size: 40px;
}

.price:hover {
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.5);
}

.price .header {
    background-color: #444;
    color: white;
    font-size: 25px;
}
.white{
  font-size: 25px;
}
.price .sticky
{
  background-color:#64b5f6;
}
.price li {
    border-bottom: 1px solid #eef;
    padding: 18px;
    text-align: center;
}

.price .grey {
    background-color: #eef;
    font-size: 30px;
}

.button {
    background-color: #64b5f6;
    
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
   border: none;
    color: white;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

/* CSS for search bar */

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.search-box input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(217, 148, 148);
  border-radius: 5px 0 0 5px;
  outline:none
}

.search-box button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f3d52e;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
