<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <h1 class="">About</h1>
    <div class="row">
        <div class="col-md-6">
    
    <p>
        The project is focused on developing a user-friendly interface for both faculty and
        admin, allowing them to manage and track curriculum requirements efficiently.
        Using the enlisted documentation information and the trainees' needs, the faculty
        can plan the curriculum over the course package. By automating the curriculum
        tracking process, the project aims to streamline the workflow and enable faculty
        and admin to focus on other essential tasks. Overall, the ICTAK Curriculum Tracker
        project will provide a much-needed solution for ICTAK, improving the efficiency and
        effectiveness of the curriculum tracking process by better planning and
        management.

        

    </p>
</div>
<div class="col-md-6">
    <img src="../../../assets/img/New Project.jpg" alt="">
</div>
</div>
    

</div>
<app-footer></app-footer>