<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://kit.fontawesome.com/21eff3a9e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins">
</head>

    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="https://w7.pngwing.com/pngs/981/150/png-transparent-admin-user-web-creanimasi-web-icon-thumbnail.png" alt="">
                    <span class="nav-item title">ADMIN</span>
                </a>
            </li>
            <!-- <li><a routerLink="">
                <i class="fas fa-home"></i>
                <span class="nav-item small">Home</span>
            </a></li> -->
            <li><a routerLink="/admindashboard">
                <i class=" fas fa-sharp fa-solid fa-table-columns"></i>
                <span class="nav-item small">Dashboard</span>
            </a></li>
            <li><a routerLink="/form">
                <i class="fas fa-solid fa-circle-plus"></i>
                <span class="nav-item small">Requirement Form</span>
            </a></li>
           
            <li><a routerLink="/submission">
                <i class="fas fa-sharp fa-light fa-circle-up"></i>
                <span class="nav-item small">Submissions</span>
            </a></li>
            <li><a routerLink="/faculty-main">
                <i class="fas fa-sharp fa-solid fa-laptop-file"></i>
                <span class="nav-item small">Faculty</span>
            </a></li>
            <li><a routerLink="/login" class=" logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item small">Logout</span>
            </a></li>
        </ul>
    </nav>

