.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 550px) {
.h-custom {
height: 100%;
}
}
@media (max-width: 992px) {
    .h-custom {
    height: 100% - 50px;
    }
}
.errormsg{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
.loglabel{
    font-weight: bold;
}