*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(219,226,226);
}
.row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 20px grey;
}

img{
    border-top-left-radius:30px ;
    border-bottom-left-radius: 30px;
}
.img-fluid{
    height: 300px;
    
}
.btn1{
    border:none;
    outline:none;
    height:50px;
    width:100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}