body {
    background-color: #db9d96;
    background-image: url('https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462431__340.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bg-color 10s infinite;
  }
  .change{
     font-size: 40px;
  }
  /* @keyframes bg-color {
    0% { background-color: #d38880; }
    20% { background-color: #c2af64; }
    40% { background-color: #84c2b5; }
    60% { background-color: #5c859f; }
    80% { background-color: #c99cdb; }
    100% { background-color: #e49f97; }
  } */
  
  