<header>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
        <input class="form-control" placeholder="Search..." aria-label="Search" matInput type="text" [hidden]="true">
      </form>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
        <li>
          <a href="#" class="nav-link text-secondary" routerLink="/faculty-main">
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-secondary" routerLink="/approved-list">
            Approved List
          </a>
        </li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-primary" routerLink="/login">Logout</button>
      </div>
    </div>
  </div>
</header>