<header>
  <div class="navbar">
    <div class="logo"><a href="">Curriculum-Tracker</a></div>
    <ul class="links">
      <li><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
      <li><a routerLink="/admindashboard" routerLinkActive="active-link">Admin</a></li>
      <li><a routerLink="/faculty-main" routerLinkActive="active-link">Faculty</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
      
    </ul>
    <a routerLink="/login" routerLinkActive="active-link" class="action_btn">Get Started</a>
    <div class="toggle-btn" onclick="myfunction()">
      <i class="bi bi-chevron-bar-down"></i>
    </div>
  </div>
  <div class="dropdown_menu open">
    <li><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
    <li><a routerLink="/faculty-main" routerLinkActive="active-link">Faculty</a></li>
    <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
    <li><a routerLink="/login" routerLinkActive="active-link" class="action_btn">Get Started</a></li>
  </div>
</header>