<app-navbar></app-navbar>
<app-faculty-header></app-faculty-header>
<div class="container pt-5 mt-5">
    <!-- <button (click)="logout()" style="float: right">Logout</button> -->
    <h1 class="text-center">Approved List</h1>

    <div class="text-center search-box">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search">
        <button type="button" (click)="search()">Search</button>
    </div>

    <table class="table table-striped pt-5 mt-5">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Name</th>
                <th scope="col">Area</th>
                <th scope="col">Inst./Corp.</th>
                <th scope="col">Category</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
                    <ng-container *ngFor="let requirement of filteredRequirements; let i = index">
                        <tr *ngIf="requirement.status">
                    <!-- <th scope="row">{{i+1}}</th> -->
                    <td>{{requirement.name}}</td>
                    <td>{{requirement.area}}</td>
                    <td>{{requirement.inst}}</td>
                    <td>{{requirement.category}}</td>
                    <td>{{requirement.duration}}</td>
                    <td>
                        <button (click)="download(requirement._id)" type="button"
                            class="btn btn-primary btn-sm">Download</button>
                    </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
<app-footer></app-footer>