<app-navbar></app-navbar>
<app-faculty-header></app-faculty-header>
<div class="container pt-5 mt-5">
    <!-- <button (click)="logout()" style="float: right">Logout</button> -->
    <h1 class="text-center">Approved List</h1>
<!-- 
    <div class="text-center search-box">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search"> -->
        <!-- <button type="button" (click)="search()">Search</button> -->
    <!-- </div> -->

    <table class="table table-striped pt-5 mt-5">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">No.</th>
                <th scope="col">Comments</th>
                <th scope="col">File Uploaded</th>
                <!-- <th scope="col">Category</th>
                <th scope="col">Duration</th> -->
            </tr>
        </thead>
        <tbody>
                   <tr  *ngFor="let response of approvedCurriculums; let i = index">
                    <!-- <ng-container *ngFor="let approvedlList of filteredApprovedlList; let i = index">
                        <tr *ngIf="approvedlList.status"> -->
                    <!-- <th scope="row">{{i+1}}</th> -->
                    <td>{{i+1}}</td>
			        <td>{{response.comments}}</td>
			        <td>{{response.doc}}</td>
                    <!-- <td>{{approvedlList.name}}</td>
                    <td>{{approvedlList.area}}</td>
                    <td>{{approvedlList.inst}}</td>
                    <td>{{approvedlList.category}}</td>
                    <td>{{approvedlList.duration}}</td> -->
                    <td>
                        <!-- <button (click)="download(approvedlList._id)" type="button"
                            class="btn btn-primary btn-sm">Download</button> -->
                            <button><a href="{{response.doc}}" download="file.txt"  class="btn btn-primary btn-sm" (click)="download(response)">Download File</a></button>
                    </td>
                </tr>
            <!-- </tr>
        </ng-container> -->
        </tbody>
    </table>
</div>
<app-footer></app-footer>