.errormsg{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
#myalert{
    text-align: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mylogin{
    text-decoration: none;
    font-weight: bold;
}